body {
  height: 100vh;
  background-color: #f0eef1;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 3%;
}

.header {
  background-color: white;
  font-size: library;
  height: 8%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  font-weight: bold;
  font-size: 2rem;
  align-items: center;
}
.header .text {
  margin-left: 5%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer button {
  border-radius: 10px;
  width: 150px;
  height: 100%;
  padding: 10px;
  font-size: 1.5rem;
  background-color: rgb(74, 217, 119);
  border: 2px rgb(74, 217, 119);
}

button:hover {
  border: 2px rgba(74, 217, 119, 0.663);
  background-color: rgba(74, 217, 119, 0.663);
}

.cardsContainer {
  display: flex;
  gap: 5%;
  margin-left: 15%;
  flex-wrap: wrap;
  transition: 1s;
}

.cardsContainer .card {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin-bottom: 5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  border: rgba(109, 109, 230, 0) solid 3px;
  transition: 1s;
}

.cardsContainer .card > :first-child {
  font-weight: bold;
  font-size: 1.2rem;
}

.popupContact {
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.4s;
}

.form {
  display: flex;
  position: absolute;
  bottom: 40%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 350px;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 1rem;
  background-color: #f0eef1;
  border-radius: 10px;
  color: black;
  transition: 0.4s;
  transform: scale(0.1);
}

.show {
  visibility: visible;
  opacity: 1;
  transform: scale(1.2);
  transition: 0.5s;
}

.read {
  font-size: 0.9rem;
}

.form button {
  border-radius: 10px;
  width: 50%;

  padding: 10px;
  font-size: 0.8rem;
  background-color: rgb(74, 217, 119);
  border: 2px rgb(74, 217, 119);
}

form input {
  border-radius: 5px;
  border: none;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

button:hover {
  border: 2px rgba(74, 217, 119, 0.663);
  background-color: rgba(74, 217, 119, 0.663);
}

.card button {
  opacity: 0;
  border-radius: 10px;
  width: 30%;
  padding: 10px;
  font-size: 0.8rem;
  background-color: rgb(217, 74, 74);
  border: 2px rgb(217, 74, 74);
  transition: 1s;
}

.card button:hover {
  border: 2px rgba(217, 74, 74, 0.453);
  background-color: rgba(217, 74, 74, 0.453);
}
.card:hover button {
  opacity: 1;
  transition: 1s;
}

.card:hover {
  border: rgb(109, 109, 230) solid 3px;
  transform: scale(1.05);
  transition: 1s;
}

button {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
